<!DOCTYPE html>

<html>
<head>
    <link href="~/CSS/Principal.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Carofour - Seja bem Vindo</title>
</head>

<body>
    <div id="container">

        <div id="idiomas">Português / Espanhol</div>
        <div id="cabecalho">
            <div id="CarrinhoCompras"></div>
            Carofour
        </div>

        <div id="conteudo">
            <div id="boasVindas">O Carefour sempre trazendo o melhor da roça para sua mesa!. Aproveite nossas ofertas.</div>
            <div id="laticinios"> @Html.ActionLink("Laticínios","Produtos","Produto", new {produto = "3"},null)</div>
            <div id="carnes">     @Html.ActionLink("Carnes", "Produtos","Produto", new { produto = "1" },null)</div>
            <div id="padaria">    @Html.ActionLink("Padaria", "Produtos","Produto", new { produto = "4" },null) </div>
            <div id="hortifrutigranjeiros">@Html.ActionLink("Hortifrutigranjeiros", "Produtos","Produto", new { produto = "2" },null)</div>
            <div class="clear"></div>
        </div>
     
        <div id="rodape"><hr>Carofour - contato@carofour.com.br</div>        
    </div>
</body>
</html>
