#container {
    min-height: 100%;
    position: relative;
    margin: 0 auto;
    width: 100%;    
    background-color:
}

#cabecalho {
    font-size: 80px;
    text-align: center;
    height: 100px;
    width: 90%;
    margin-left: 4%;
    background-image: url("../Resources/Carrinho.PNG");
    background-position: right;
    background-repeat: no-repeat;
}

#CarrinhoCompras {
    float: left;
    background-image: url("../Resources/carrinhoCompras.PNG");
    background-repeat: no-repeat;    
    width: 80px;
    height: 80px;
}

#conteudo {
    position: relative;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 10px;
}

#rodape {
    width: 90%;
    margin-left: 5%;
    position: absolute;
    text-align: center;
    padding-bottom: 10px;
}

#idiomas {
    margin: 0 auto;
    text-align: right;
    width: 90%;
    margin-left: 5%;
}

#boasVindas {
    margin-left: 5px;
    float: left;
    margin-top: 10px;
    background: snow;
    width: 250px;
    height: 410px;
    font-size: 35px;
    color: #362d2d;
    text-align: center;
    background-image: url(../Resources/madeira.jpg);
    background-repeat: repeat;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

#laticinios {
    margin-left: 20px;
    margin-top: 10px;
    float: left;
    position: relative;
    width: 450px;
    height: 200px;
    background: #2E8B57;
    background-image: url("../Resources/laticinios.jpg");
    background-repeat: no-repeat;
    font-size: 50px;
    color: Snow;
    font-style: oblique;
}

#carnes {
    margin-left: 20px;
    margin-top: 10px;
    float: left;
    position: relative;
    width: 450px;
    height: 200px;
    background: #00FA9A;
    background-image: url("../Resources/carne.jpg");
    background-repeat: no-repeat;
    font-size: 80px;
    color: Snow;
    font-style: oblique;
}

#padaria {
    margin-left: 20px;
    margin-top: 10px;
    float: left;
    position: relative;
    width: 450px;
    height: 200px;
    background: #BDB76B;
    background-image: url("../Resources/padaria.jpg");
    background-repeat: no-repeat;
    font-size: 50px;
    color: Snow;
    font-style: oblique;
}

#hortifrutigranjeiros {
    margin-left: 20px;
    margin-top: 10px;
    float: left;
    position: relative;
    width: 450px;
    height: 200px;
    background: #CD853F;
    background-image: url("../Resources/hortifrutigranjeiro.png");
    background-repeat: no-repeat;
    font-size: 50px;
    color: Snow;
    font-style: oblique;
}

.clear {
    clear: both;
}
